@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #252d33;
  color: #e8e6e3;
  font-family: "Raleway", sans-serif;
  /* font-size: 2rem; */
}
