body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftside img {
  height: 40px;
  width: 40px;
}
.rightside * {
  margin: 5px;
}
